
.Choose .Choose-Contect{
    text-align: left;
}
.Choose .Choose-Heading{
    color: white;
    margin-top: 30px;
    padding-top: 30px;
    padding: 10px;
    font-weight: 600;
}
.Choose .Main-Btn {
    width: 180px;
    padding: 10px 0px;
    margin: 9px;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    color: rgb(45, 147, 219);
}

.Choose .Main-Btn:hover {

    background-color: rgb(255, 255, 255);
    color: rgb(45, 147, 219);
}
.Choose .Choose-info {
    color: white;
    font-weight: 600;
}
.Choose .icon-list .icon{
    font-size: 15px;
}
.Choose .Choose-role {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
    padding-top: 14px;
    margin: 15px;
    padding-left: 0.9rem;
    padding-bottom: 0.9rem;
}

.Choose .Choose-role p {
    font-size: 16px;
   margin-left: 1.5rem;
   text-align: left;
   margin-bottom: 12px;
}
.Choose .Choose-role p span {
    font-size: 14px;  
    display: block;
}

@media (max-width: 1024px) {
    .Choose .Choose-info{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 991px) {
    .Choose {
        background-image: none !important;
        background-color: rgb(238, 12, 12);
    }
.Choose .Choose-info {
    position: relative;
    top: 225%;
}
.Choose .Choose-Heading{
    padding: 5px;
}

.Choose .Choose-Contect {
    margin-left: 20px;
}
.Choose{
    padding: 0.5rem 0 9.375rem;
 }

.Choose .Choose-Contect2 {
    padding-top: 22px;
}

.Choose .icon-list .icon {
    font-size: 12px;
}

.Choose .Choose-role {
    width: 80px;
    height: 80px;
    flex-wrap: nowrap;
    padding-top: 11px;
    margin: 30px;
    padding-left: 0.8rem;
    padding-bottom: 0.8rem;
}

}

@media (max-width: 912px) {
    .Choose .Choose-info {
        position: relative;
        top: 260%;
    }
}
@media (max-width: 800px) {
    .Choose .Choose-info {
        position: relative;
        top: 260%;
        padding-left: 2rem;
    }
}
@media (max-width: 820px) {
    .Choose .Choose-info {
       position: relative;
       top: 225%;
    }
}
@media (max-width: 770px) {
    .Choose .Choose-info {
        position: relative;
        top: 320%;
}
}

@media (max-width: 764px) {
    .Choose .Choose-info {
        position: relative;
        top: 181%;
}}

@media (max-width: 490px) {
    .Choose .Choose-info {
        position: relative;
        top: 182%
}
}


@media (max-width: 416px) {
    .Choose .Choose-info {
        color: white;
        font-weight: 600;
        font-size: 13px;
        flex-wrap: wrap;
    }
    .Choose{
        padding: 0.875rem 0 9.375rem;
     }
}
@media (max-width: 380px) {
    .Choose .Choose-info {
        position: relative;
        top: 250%;
}
}

@media (max-width: 375px) {
    .Choose .Choose-info {
        position: relative;
        top: 153%;
}
}