.Input-file {
    position: relative;
}

.Input-file .Inputfill {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(255, 255, 255);
    padding: 2rem 0.9rem;
    margin-bottom: 10px;
    border-radius: 8px;
}

.Input-file .Inputfill h3 {
    text-align: center;
    color: rgb(45, 147, 219);
    font-size: 1.59rem;
    font-weight: 600;
}

.Input-file .Inputfill h3 span {
    color: rgb(212, 0, 0);
}

.Input-file .Input-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.Input-file .Main-Btn {
    width: 150px;
    background-color: rgb(45, 147, 219);
    color: white;
    margin-left: 20px;
}

.Input-file .Input-cont input {
    width: 55%;

}

@media (max-width: 991px) {
    .Input-file .Main-Btn {
        width: 90%;
        margin-top: 15px;
        margin-left: 0;
    }

    .Input-file .Input-cont input {
        width: 90%;

    }
}